<% content_for :head do %>
  <%= javascript_include_tag 'nicEdit', 'nicEditConfig' %>
  <%= stylesheet_link_tag 'blog' %>
<% end %>

<% if @blog_entry.errors.any? %>
  <div id="errorExplanation">
    <h2><%= t(:blog_form_error_message) %></h2>
  </div>
<% end %>

<p>
  <%= form.label :title %> <span class="required">*</span><br />
  <%= form.text_field :title %>
  <%= form.error_message_on :title %>
</p>

<p>
  <%= form.label :created_at %> <span class="required">*</span><br />
  <%= form.date_select :created_at, :start_year => 2005 %>
  <%= form.error_message_on :created_at %>
</p>

<p>
	<%= form.fields_for :images, @object do |image_fields| %>
		<%= image_fields.label :attachment, t(:blogs_main_image) %><br/>
		<%= image_fields.file_field :attachment %>
	<% end %>
</p>

<p>
<%= form.label :body %><br />
  <%= form.text_area :body, :id => 'blog_entry_body', :style => 'width: 700px' %>
  <%= form.error_message_on :body %>
</p>

<p>
  <%= form.label :tag_list, 'Tag List' %><br />
  <%= form.text_field :tag_list %>
  <%= t('tag_list_example') %>
</p>
