<% content_for :head do %>
  <%= javascript_include_tag 'nicEdit', 'nicEditConfig' %>
  <%= stylesheet_link_tag 'blog' %>
<% end %>

<%= error_messages_for :blog_entry %>

<p>
  <%= form.label :title %> <span class="required">*</span><br />
  <%= form.text_field :title %>
  <%= form.error_message_on :title %>
</p>

<p>
<%= form.label :body %><br />
  <%= form.text_area :body, :id => 'blog_entry_body', :style => 'width: 700px' %>
  <%= form.error_message_on :body %>
</p>

<p>
  <%= form.label :tag_list, 'Tag List' %><br />
  <%= form.text_field :tag_list %>
  <%= t('tag_list_example') %>
</p>
