<% content_for :head do %>
  <%= javascript_include_tag 'nicEdit', 'nicEditConfig' %>
  <%= stylesheet_link_tag 'blog' %>
<% end %>

<%= error_messages_for :blog_entry %>
<br />

<p>
  <%= form.label :title %><br />
  <%= form.text_field :title %>
</p>

<%= form.label :body %><br />
<%= form.text_area :body, :id => 'blog_entry_body', :style => 'width: 700px' %>
<br />

<p>
  <%= form.label :tag_list, 'Tag List' %><br />
  <%= form.text_field :tag_list %>
</p>

<br/>
<p><%= form.submit button_name %></p>
