<% content_for :head do %>
  <%= stylesheet_link_tag 'blog' %>
<% end %>

<h1><%= t('blog_entries') %></h1>

<%= link_to t('new_entry'), new_admin_blog_entry_path %>
<br/><br/>

<table class="entry-list">
  <tr>
    <th class="date">Date</th>
    <th class="title">Title</th>
    <th class="body">Body</th>
  </tr>

<% for blog_entry in @blog_entries %>
  <tr>
    <td><%=h blog_entry.created_at.strftime("%B %d, %Y") %></td>
    <td><%=blog_entry.title %></td>
    <td><%= truncate(blog_entry.body, :length => 100, :truncate_string => "...") %></td>
    <td>
        <%= link_to t('edit'), [:edit, :admin, blog_entry] %> |
        <%= link_to t('delete'), [:admin, blog_entry], :method => :delete, :confirm => t('are_you_sure_blog_entry') %>
    </td>
  </tr>
<% end %>
</table>
