<% content_for :head do %>
  <%= stylesheet_link_tag 'blog' %>
<% end %>

<div class='toolbar'>
  <ul class='actions'>
    <li>
      <%= button_link_to t("new_entry"), new_object_url, :icon => 'add' %></p>
    </li>
  </ul>
  <br class='clear' />
</div>

<h1><%= t('blog_entries') %></h1>


<% unless @blog_entries.blank? %>
  <table class="entry-list index">
    <tr>
      <th class="date">Date</th>
      <th class="title">Title</th>
      <th></th> 
    </tr>

  <% @blog_entries.each do |blog_entry| %>
    <tr id="<%= dom_id blog_entry %>">
      <td><%= l( blog_entry.created_at.to_date, :format => :long) %></td>
      <td><%= blog_entry.title %></td>
      <td class="actions">
        <%= link_to_edit blog_entry %>
        &nbsp;
        <%= link_to_delete blog_entry, :title => t('are_you_sure_blog_entry') %>
      </td>
    </tr>
  <% end %>
<% else %>
  <p><%= t('no_blog_entries') %></p>
<% end %>

</table>
